<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Project</title>

  <!-- Style Inline Referring to Header -->
  <style>
  
  </style>
  <!-- End Style Inline Referring to Header -->

  <link rel="preload" href="assets/css/style.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="assets/css/style.css"></noscript>
  
  <!-- Fonts with header priority 
  <link rel="preload" href="assets/fonts/#.woff2" as="font" type="font/woff2">
  End Fonts with header priorit -->

  <!-- Anticipation of priority resources -->
  <link rel="dns-prefetch" href="">
  <link rel="preconnect"   href="">
  <!-- End Anticipation of priority resources -->

</head>

<body>
  
  <header class="">
    <h1>Performance is Usability, Performance is UX</h1>    
  </header>
  
  <section class="">

  </section>

  <footer class="">
    
  </footer>   

<script async src="assets/js/main.js"></script>

</body>
</html>