  body
  	center(920px)

  img
    max-width 100%

  p
    font-family sans-serif
    text-align justify

  .wrap

    padding 0 4%
    margin 0 auto 5%

    font-size 1rem
    letter-spacing .8px
    line-height 1.2

    &--nopadding
      padding 0

    &__bl
      width 90%
      margin 0 auto
