@import 'kouto-swiss'
@import 'core/_vars'
@import 'core/_mixins'
@import 'animations/logo'
// @import 'sprite'

.App 
  text-align center

  &__logo 
    animation App-logo-spin infinite 20s linear
    height 80px

  &__header
    background-color #222
    padding 40px
    color white

  &__ttl
    font-size rem(24px)

  &__intro
    padding 15px 0
    font-size rem(18px)

